@import "modern-normalize/modern-normalize.css";
@import "_var";
@import "_mixins";
@import "_fonts";

html {
  font-size: 16px;
}

body {
  font-family: "Museo Sans Cyrl", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}


.container {
  padding: 0 10vw;
  @media @xxl {
    padding: 0 7vw;
  }

  @media @lg {
    padding: 0 1.3em;
  }
  @media @md {
    padding: 0 1em;
  }
  @media @sm {
    padding: 0 0.5em;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.button {
  .trs(0.3s);
  text-align: center;
  display: block;
  .br(5px);
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-decoration: none;
  padding: 15px 25px;
  width: fit-content;
  cursor: pointer;
  border: none;
  outline: none;
}

